<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="spark" type="Spark.Configuration.SparkSectionHandler, Spark"/>
  </configSections>

  <spark>
    <compilation debug="false"/>
    <!--<pages automaticEncoding="true" statementMarker="#" pageBaseType="Spark.Web.Mvc.SparkView">-->
    <pages automaticEncoding="true" statementMarker="#" pageBaseType="Ikon.IKCMS.SparkIKCMS.IKCMS_SparkView">
      <resources>
        <!--<add match="/content/css" location="http://www.yourcdnprovider.com/youraccount/allstyles/css"/>-->
        <!--<add match="/content/js" location="http://www.yourcdnprovider.com/youraccount/appname/js"/>-->
      </resources>
    </pages>
  </spark>

  <system.web>
    <httpHandlers>
      <add path="*" verb="*" type="System.Web.HttpNotFoundHandler"/>
    </httpHandlers>
    <pages
        validateRequest="false"
        pageParserFilterType="System.Web.Mvc.ViewTypeParserFilter, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
        pageBaseType="System.Web.Mvc.ViewPage, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
        userControlBaseType="System.Web.Mvc.ViewUserControl, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <controls>
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" namespace="System.Web.Mvc" tagPrefix="mvc" />
      </controls>
      <namespaces>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Linq"/>
        <add namespace="System.Collections.Generic"/>
        <add namespace="Microsoft.Web.Mvc"/>
        <add namespace="LinqKit"/>
        <add namespace="Ikon"/>
        <add namespace="Ikon.IKCMS"/>
        <add namespace="Ikon.GD"/>
        <add namespace="Ikon.IKCMS.Library.Resources"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="BlockViewHandler"/>
      <add name="BlockViewHandler" path="*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler"/>
    </handlers>
  </system.webServer>
</configuration>
