<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="IKGD_VFS_Library.Properties.Settings.GDCS" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=BlankSite_CMS;Integrated Security=True;Connect Timeout=60;MultipleActiveResultSets=true"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>