//
// Variables
// --------------------------------------------------
@sitoWidth:    960px;


// Custom colors
// --------------------------------------------------
@green:       #DAFF7F;
@darkGreen:   #AFC149;

