<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IKGD_ResourceType_Standard_CMS.Properties.Settings.BlankSite_CMSConnectionString"
            connectionString="Data Source=dev64.ikon.local;Initial Catalog=BlankSite_CMS;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>