<?xml version="1.0"?>
<configuration>

  <!--
  i files contenuti nella directory FCKeditor_Author eseguono l'override su quanto presente nel ZIP
  incluso nell'assembly e gestito dal VPP
  -->

  <!-- Configuration for the "FCKeditor" subdirectory to avoid code execution inside. -->
  <system.web>
    <httpHandlers>
      <add verb="*" path="*" type="System.Web.StaticFileHandler" />
    </httpHandlers>
  </system.web>

  <!-- per far funzionare "FCKeditor" con IIS7 e il virtual path provider devo attivare la forzatura del processing di tutti i files statici. -->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="false" >
    </modules>
    <handlers>
      <clear />
      <add name="StaticFileVPP" path="*" verb="*" type="System.Web.StaticFileHandler" />
    </handlers>
  </system.webServer>

</configuration>
