<?xml version="1.0"?>
<configuration>

  <system.web>
    <authorization>
      <allow users="*"/>
    </authorization>

    <httpModules>
      <clear/>
    </httpModules>
    <httpHandlers>
      <clear/>
      <add verb="GET,HEAD" path="*" type="System.Web.StaticFileHandler" validate="false" />
    </httpHandlers>

  </system.web>

  <system.webServer>

    <validation validateIntegratedModeConfiguration="false"/>
    <security></security>
    <modules runAllManagedModulesForAllRequests="false">
      <clear/>
    </modules>
    <handlers>
      <clear/>
      <!-- this fallback handler in default configuration doesn't work well with VPP -->
      <!--<add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read" />-->
      <add name="StaticContents" verb="GET,HEAD" path="*" type="System.Web.StaticFileHandler" preCondition="integratedMode" />
    </handlers>
    <urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="true" />
    <staticContent>
      <!--<clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="180.00:00:00" />-->
      <mimeMap fileExtension=".*" mimeType="application/octet-stream" />
    </staticContent>
    <!-- per le risorse gestite dai VPP che non settano correttamente gli headers -->
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="public,max-age=15552000" />
      </customHeaders>
    </httpProtocol>

  </system.webServer>

</configuration>
