<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IKGD_ConfigSettings.Properties.Settings.GDCS" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=BlankSite_CMS;Integrated Security=True;MultipleActiveResultSets=True;Connect Timeout=60"
            providerName="System.Data.SqlClient" />
        <add name="IKGD_ConfigSettings.Properties.Settings.BlankSite_CMSConnectionString"
            connectionString="Data Source=dev64.ikon.local;Initial Catalog=BlankSite_CMS;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>